#body1 {
    background-color: green;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: white;
}
#randomMovies {
    margin-left: 42.5%;
}
/* dog Highlight Section*/
#movieHighlight {
    text-align: center;
    color: white;
    border: 3px solid  yellow;
    image-rendering: center;
    margin-left: 20%;
    margin-right: 20%;
}

#movieHighlight h2,h3 {
    border: 1px solid yellow;
}
/* new dog form section  */
#newMovie {
    text-align: center;
    color: white;
    border: 3px solid navy;
    margin-left: 80%;
    margin-top: 15%;
    margin-right: 5%;
}
#new-movie input {
    text-align: center;
}
#new-movie h4 {
    color: white;
}
/* my favorite dogs section */

#favorites {
    border: 2px solid yellow;
    margin-right: 80%;
}

#favorites h3 {
    text-align: center;
    color: purple;
    border: 2px solid yellow;
    
}
.myFavorites {
    border-top: hidden;
    text-align: center;
    color: whitesmoke;
    border: 2px solid yellow;
}

.movieCover {
    border: 4px solid black;
    margin-right: 3px;
    margin-left: 4px;
}

.filterButtons {
    margin-left: 3%;
}

